<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DoAnQuanLyQuanBida2ConnectionString"
            connectionString="Data Source=DESKTOP-MEUMH4V;Initial Catalog=DoAnQuanLyQuanBida2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>