<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Web_DAL.Properties.Settings.DoAnQuanLyQuanBida1ConnectionString"
            connectionString="Data Source=DESKTOP-MEUMH4V;Initial Catalog=DoAnQuanLyQuanBida1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Web_DAL.Properties.Settings.DoAnQuanLyQuanBidaConnectionString"
            connectionString="Data Source=DESKTOP-1USN3F4\SQLEXPRESS;Initial Catalog=DoAnQuanLyQuanBida;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>